/*.container{
	width: 1440px;
	margin: 0;
	padding: 0;
}*/
.menu{
	position: absolute;
	z-index:1;
}
.menu1{
	margin-right: auto;
	margin-left: auto;
}
.button-text{
	margin: 30px 0 0 5px;
}
.logostyle{
	height: 100px;
	width: 160px;
}
.menu-nav a{
	color: #999;
}
.index-image-sm{
	padding: 1px;
}
.index-image-sm-box{
	position: absolute;
	z-index:1;
	margin-top: 180px;
	margin-left: 37px;
}
.movie-name-box{
	margin-top: 40px;
	width: 195px;
}
.days{
	letter-spacing: ;
	font-size: 150%;
	color: #ff6d00;
}
.movie-name{
	font-weight: bolder;
	font-size:140%;
}
.movie-time{
	font-size:69%;
}
.play-icon{
	width: 119px;
	height: 119px;
	overflow: hidden;
	background-image:url('../images/icon.png');
	background-repeat:no-repeat;
	background-position:-119px -52px;
	position: relative;
	left: 205px;
}
.play-icon-img{
	
	position:-119px -52px;
}

.box-width{
	margin: 0;
	padding: 0;
}
