.menu-line{
	position: absolute;
	z-index:1;
	margin: 20px;
}
.button-text{
	text-decoration: none;
}
.logostyle{
	height: 160px;
	width: 260px;
	/*position:absolute;
	clip:rect(300px 600px 500px 200px);*/
}